{{define "title"}}Aguaxaca - Información sobre distribución de agua en Oaxaca{{end}}

{{define "content"}}
    <p>
        Aguaxaca es un proyecto ciudadano para hacer más accesible la información
        sobre distribución de agua en Oaxaca.
    </p>
    <p>
        Para datos siempre actualizados, consulta
        <a href="https://x.com/SOAPA_Oax">@SOAPA_Oax</a>.
    </p>

    <h2>Últimas Entregas de Agua</h2>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Horario</th>
                <th>Tipo de Ubicación</th>
                <th>Nombre de Ubicación</th>
            </tr>
        </thead>
        <tbody>
            {{range .Deliveries}}
            <tr>
                <td>{{.Date.Time.Format "02/01/2006"}}</td>
                <td>{{.Schedule}}</td>
                <td>{{.LocationType}}</td>
                <td>{{.LocationName}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="4">No hay entregas disponibles.</td>
            </tr>
            {{end}}
        </tbody>
    </table>
{{end}}

{{define "index.html"}}
  {{template "layout" .}}
{{end}}